/**
 * fe-html5-boilerplate v0.0.1
 * HTML5 Boilerplate
 * Bimaa Ghafara <bimaa7@gmail.com>
 */
/**
 * Style CSS
 *
 * @author    	Mirum Bandung
 * @since 		Aug 3, 2017
 **/
/**
 * Variable
 **/
/**
 * Fonts
 **/
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
header .top-nav {
  background-color: #22cccc;
  color: white;
  border-radius: 0 !important;
  text-align: center;
}
header .top-nav .border-right {
  border-right: 1px solid white;
}
header .top-nav a {
  color: white;
  font-size: 3.5vw;
  text-transform: uppercase;
  padding: 0 2vw;
}
header .top-nav a .glyphicon {
  padding: 0 4px;
}
@media (min-width: 576px) {
  header .top-nav a {
    font-size: 2.5vw;
  }
}
@media (min-width: 768px) {
  header .top-nav a {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  header .top-nav {
    float: right;
    background-color: transparent;
    background-image: url("../images/bg-tosca.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
header .navbar {
  background-color: #e9ebed !important;
  border: 0!important;
  border-radius: 0!important;
  margin-bottom: 0!important;
}
header .navbar .navbar-brand {
  padding: 10px 15px !important;
}
header .navbar .navbar-brand img {
  max-height: 30px;
}
@media (min-width: 768px) {
  header .navbar .navbar-brand img {
    max-height: 55px;
  }
}
header .navbar .navbar-toggle {
  border: 0 !important;
  background-color: #aaa !important;
}
header .navbar .navbar-nav .active > a {
  background-color: transparent !important;
  color: #c13 !important;
}
header .navbar .navbar-nav a:hover,
header .navbar .navbar-nav a:focus {
  background-color: transparent !important;
  color: #c13 !important;
}
header .navbar .navbar-nav a {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  header .navbar .navbar-left {
    max-width: 440px;
  }
}
@media (min-width: 992px) {
  header .navbar .navbar-left {
    max-width: 660px;
  }
}
@media (min-width: 992px) {
  header .navbar .navbar-left {
    max-width: 860px;
  }
}
header .navbar .navbar-left .dropdown-menu {
  background-color: #e9ebed !important;
  border: 2px solid #e9ebed;
}
@media (min-width: 768px) {
  header .navbar .navbar-right {
    max-width: 280px;
  }
}
header .navbar .navbar-right li {
  padding: 10px 10px;
}
@media (min-width: 768px) {
  header .navbar .navbar-right li {
    padding-right: 15px;
  }
}
header .navbar .navbar-right a {
  display: inline;
  font-size: 24px;
  padding: 0 5px;
}
header .navbar .navbar-right .btn {
  border-radius: 0;
}
header .navbar .navbar-right .search {
  padding: 8px 14px;
  font-size: 14px;
  border: 1px solid white;
}
header .navbar .navbar-right .calendar {
  padding: 8px 25px;
  font-size: 14px;
  background-color: #c13;
  border: 1px solid #c13;
  color: #e9ebed;
}
header .bottom-left {
  position: absolute;
  bottom: 0;
}
.footer {
  background-color: #e9ebed;
}
.footer > .container-fluid {
  padding: 20px;
}
@media (min-width: 992px) {
  .footer > .container-fluid {
    padding: 40px 0;
  }
}
.footer .logo {
  padding: 10px;
}
.footer .logo img {
  max-width: 40vw;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer .logo img {
    max-width: 25vw;
  }
}
@media (min-width: 992px) {
  .footer .logo img {
    max-width: 200px;
    padding: 20px 0;
  }
}
.footer .footer-menu {
  padding: 10px 0;
  padding-right: 0;
}
.footer .footer-menu ul {
  list-style: none;
}
.footer .footer-menu ul li {
  width: 50%;
  float: left;
  text-transform: uppercase;
}
.footer .footer-menu ul li a {
  font-size: 3.3vw !important;
  color: #aaaaaa;
}
.footer .footer-menu ul li a:hover {
  text-decoration: none !important;
  color: #c13  !important;
}
@media (min-width: 768px) {
  .footer .footer-menu ul li {
    width: 33.33%;
  }
  .footer .footer-menu ul li a {
    font-size: 2vw !important;
  }
}
@media (min-width: 992px) {
  .footer .footer-menu ul li {
    width: 50%;
  }
  .footer .footer-menu ul li a {
    font-size: 18px !important;
  }
}
.footer .stay-connected {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .footer .stay-connected {
    text-align: right;
  }
}
.footer .stay-connected .title {
  padding: 5px;
}
@media (min-width: 992px) {
  .footer .stay-connected .title {
    font-size: 16px !important;
  }
}
.footer .stay-connected .social-media {
  padding: 5px;
}
.footer .stay-connected .social-media a {
  font-size: 7vw;
  padding: 0 8px;
  color: #aaaaaa;
}
@media (min-width: 992px) {
  .footer .stay-connected .social-media a {
    font-size: 30px !important;
    padding: 0;
    padding-left: 8px;
  }
}
.footer .stay-connected .social-media a:hover {
  color: #c13  !important;
}
.footer .stay-connected .pt {
  padding: 20px 0;
  color: #aaaaaa;
}
.footer .stay-connected .pt a {
  color: #aaaaaa;
  padding: 0;
}
@media (min-width: 992px) {
  .footer .stay-connected .pt a {
    font-size: 9px !important;
  }
}
.footer .stay-connected .pt a:hover {
  text-decoration: none !important;
  color: #c13  !important;
}
.footer .bottom {
  font-size: 3vw;
  padding: 20px 0;
  color: #eee;
  background-color: #556677;
}
.footer .bottom .left {
  padding: 7px 0;
}
.footer .bottom .right {
  padding: 7px 0;
}
@media (min-width: 992px) {
  .footer .bottom .right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .footer .bottom {
    font-size: 12px;
  }
}
body {
  font-family: 'Open Sans' !important;
}
section.home {
  background-color: #e9ebed;
}
section.home .slider-top .container-fluid,
section.home .slider-bottom .container-fluid {
  padding: 0 !important;
}
@media (max-width: 1366px) {
  section.home .slider-top .container-fluid .container,
  section.home .slider-bottom .container-fluid .container {
    width: 100% !important;
    padding: 0;
  }
}
section.home .slider-top .container-fluid .container .wrapper,
section.home .slider-bottom .container-fluid .container .wrapper {
  position: relative;
}
section.home .slider-top .container-fluid .container .wrapper .bg,
section.home .slider-bottom .container-fluid .container .wrapper .bg {
  width: 100%;
}
section.home .slider-top .container-fluid .container .wrapper .text,
section.home .slider-bottom .container-fluid .container .wrapper .text {
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 40%;
  top: 30%;
  left: 70%;
}
section.home .content .all-events {
  padding: 15px 0;
  text-transform: uppercase;
}
section.home .content .all-events .title {
  text-align: center;
  margin: 30px 0;
}
section.home .content .all-events .title .calendar {
  display: inline-block;
  background-color: #ccbb44;
  color: white;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  position: relative;
}
section.home .content .all-events .title .calendar i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.home .content .all-events .title .calendar .dotted-line {
  position: absolute;
  top: 84%;
  left: 0%;
  font-size: 18px;
  width: 60px;
  color: black;
}
section.home .content .all-events .title .text {
  display: inline-block;
  top: 50%;
  padding-left: 8px;
  transform: translateY(-25%);
  font-size: 27px;
}
section.home .content .all-events .wrapper {
  height: 105px;
  margin: 0 auto;
  padding: 30px 0;
}
section.home .content .all-events .wrapper .wrapper-date {
  width: 30%;
  height: 70px;
  position: relative;
  float: left;
}
section.home .content .all-events .wrapper .wrapper-date .circle {
  width: 70px;
  height: 70px;
  background-color: #ccbb44;
  border-radius: 999px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
section.home .content .all-events .wrapper .wrapper-date .date {
  width: 70px;
  position: absolute;
  top: 48%;
  right: 5px;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}
section.home .content .all-events .wrapper .wrapper-date .date .dd {
  font-size: 16px;
}
section.home .content .all-events .wrapper .wrapper-date .date .mm {
  font-size: 9.6px;
}
section.home .content .all-events .wrapper .wrapper-date .date .yyyy {
  font-size: 9.6px;
}
section.home .content .all-events .wrapper .event-wrapper {
  width: 70%;
  max-width: 189px;
  height: 81px;
  float: left;
  padding-left: 10px;
  font-size: 12px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
section.home .content .all-events .wrapper .event-wrapper .event-text {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  max-width: 189px;
}
section.home .content .all-events .pagination {
  width: 250px !important;
  padding: 20px 0;
  display: block;
  margin: 0 auto;
}
section.home .content .all-events .pagination a {
  font-size: 14px !important;
  color: #aaa !important;
}
section.home .content .all-events .pagination .separator {
  padding: 0 4px;
}
section.home .content .upcoming-events {
  padding: 15px 0;
  text-transform: uppercase;
}
section.home .content .upcoming-events .title {
  text-align: center;
  margin: 30px 0;
}
section.home .content .upcoming-events .title .star {
  display: inline-block;
  background-color: #6644bb;
  color: white;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  position: relative;
}
section.home .content .upcoming-events .title .star i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.home .content .upcoming-events .title .star .dotted-line {
  position: absolute;
  top: 84%;
  left: 0%;
  font-size: 18px;
  width: 60px;
  color: black;
}
section.home .content .upcoming-events .title .text {
  display: inline-block;
  top: 50%;
  padding-left: 8px;
  font-size: 27px;
  max-width: 162px;
}
@media (min-width: 768px) {
  section.home .content .upcoming-events .title .text {
    max-width: none;
    transform: translateY(-25%);
  }
}
section.home .content .upcoming-events .wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 550px;
}
section.home .content .upcoming-events .wrapper .top {
  border-bottom: 1px solid #6644bb;
  height: 36px;
  max-width: 550px;
  margin: 0 auto;
}
section.home .content .upcoming-events .wrapper .top .date {
  font-weight: 900;
  color: #6644bb;
  float: left;
  font-size: 18px;
}
section.home .content .upcoming-events .wrapper .top .view-detail a {
  color: #aaa;
  float: right;
  font-size: 8px;
  line-height: 32px;
  cursor: pointer;
}
section.home .content .upcoming-events .wrapper .top .view-detail a:hover {
  color: #c13;
  text-decoration: none;
}
section.home .content .upcoming-events .wrapper .bottom {
  text-align: center;
}
section.home .content .upcoming-events .wrapper .bottom .img-container {
  height: 160px;
  max-width: 550px;
  margin: 0 auto;
  padding: 25px 0;
}
section.home .content .upcoming-events .wrapper .bottom .img-container img {
  margin: 0 auto;
  height: 110px;
  border-radius: 999px;
}
section.home .content .upcoming-events .wrapper .bottom .title-container {
  max-width: 550px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  section.home .content .upcoming-events .wrapper .bottom .title-container {
    height: 160px;
    position: relative;
  }
}
section.home .content .upcoming-events .wrapper .bottom .title-container .title {
  margin: 0;
}
@media (min-width: 768px) {
  section.home .content .upcoming-events .wrapper .bottom .title-container .title {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    text-align: left;
  }
}
section.home .content .upcoming-events .wrapper .bottom .desc {
  padding: 20px 0;
  text-align: justify !important;
  text-transform: none;
  max-width: 550px;
  margin: 0 auto;
  text-align: left;
}
@media (min-width: 768px) {
  section.home .content .upcoming-events .wrapper .bottom .desc {
    padding-top: 0 !important;
  }
}
section.home .content .twitter-posts {
  padding: 15px 0 0 0;
}
section.home .content .twitter-posts .title {
  text-align: center;
  margin: 30px 0;
}
section.home .content .twitter-posts .title .twitter {
  display: inline-block;
  color: #2cc;
  width: 40px;
  height: 40px;
  position: relative;
  font-size: 40px;
  line-height: 40px;
  top: -5px;
}
section.home .content .twitter-posts .title .text {
  display: inline-block;
}
section.home .content .twitter-posts .title .text .username {
  font-size: 20px;
}
section.home .content .twitter-posts .title .text .follow {
  text-align: left;
  display: block;
  margin-top: -10px;
  transform: translateY(-5px);
  font-size: 10px;
  color: #2cc;
}
section.home .content .twitter-posts .wrapper {
  max-width: 320px;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  padding: 20px 0px;
}
section.home .content .twitter-posts .wrapper .img-container {
  padding: 0;
  padding-top: 10px;
  height: 70px;
  margin: 0 auto;
}
section.home .content .twitter-posts .wrapper .img-container img {
  background-color: #fff;
  margin: 0 auto;
  height: 50px;
  border-radius: 999px;
}
section.home .content .twitter-posts .wrapper .post-container {
  padding-right: 0;
}
section.home .content .twitter-posts .wrapper .post-container .top {
  padding-bottom: 10px;
}
section.home .content .twitter-posts .wrapper .post-container .top .username {
  color: #2cc;
}
section.home .content .twitter-posts .wrapper .post-container .top .date {
  margin-left: 12px;
}
section.home .content .twitter-posts .wrapper .post-container .bottom {
  padding: 10px 0;
}
section.home .content .twitter-posts .wrapper .post-container .bottom i {
  margin-right: 10px;
  color: #aaa;
}
section.home .testi {
  margin-top: 100px;
  padding: 0 !important;
}
section.home .testi .container {
  position: relative;
  padding: 60px 0;
  background-color: #eee;
}
@media (max-width: 1366px) {
  section.home .testi .container {
    width: 100% !important;
    padding: 40px;
  }
}
@media (max-width: 540px) {
  section.home .testi .container {
    padding: 22px;
  }
}
section.home .testi .container .quote {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  width: 36px;
}
section.home .testi p {
  max-width: 600px;
  margin: 0 auto;
}
section.home .slick-slider .slick-next {
  right: 10px!important;
}
section.home .slick-slider .slick-prev {
  left: 10px!important;
  z-index: 1;
}
