/**
 * Style CSS
 *
 * @author    	Mirum Bandung
 * @since 		Aug 3, 2017
 **/

/**
 * Variable
 **/
@min-sm-screen: 768px;
@min-md-screen: 992px;
@min-lg-screen: 1200px;


/**
 * Fonts
 **/

@import "reset.less";
@import "partials/header.less";
@import "partials/footer.less";
@import "pages/home.less";