.footer{
    >.container-fluid{
        padding:20px;
        @media (min-width:992px){
            padding: 40px 0;
        }
    }
    background-color: #e9ebed;
    .logo{
        padding: 10px;
        img{
            max-width: 40vw;
            margin: 0 auto;
            @media (min-width:768px){
                max-width: 25vw;
            }
            @media (min-width:992px){
                max-width: 200px;
                padding: 20px 0;
            }
        }
    }
    
    .footer-menu{
        padding: 10px 0;
        padding-right: 0;
        ul{
            list-style: none;
            li{
                width:50%;
                float: left;
                text-transform: uppercase;
                a{font-size: 3.3vw !important; color: rgb(170,170,170);}
                a:hover{
                    text-decoration: none !important;
                    color: #c13  !important;
                }
                @media (min-width:768px){
                    width:33.33%;
                    a{font-size: 2vw !important;}
                }
                @media (min-width:992px){
                    width:50%;
                    a{font-size: 18px !important;}
                }
            }
        }
    }

    .stay-connected{
        padding-top:10px;
        text-align:center;
        text-transform: uppercase;
        @media (min-width:992px){
            text-align: right;
        }
        .title{
            padding:5px;
            @media (min-width:992px){
                font-size: 16px !important;
            }
        }
        .social-media{
            padding:5px;
            a{
                font-size:7vw; padding: 0 8px;
                color: rgb(170,170,170);
                @media (min-width:992px){
                    font-size: 30px !important;
                    padding: 0; padding-left:8px;
                }
            }
            a:hover{
                color: #c13  !important;
            }
        }
        .pt{
            padding:20px 0; color: rgb(170,170,170);
            a{
                color: rgb(170,170,170); padding:0;
                @media (min-width:992px){
                    font-size: 9px !important;
                }
            }
            a:hover{
                text-decoration: none !important;
                color: #c13  !important;
            }
        }

    }

    .bottom{
        font-size: 3vw;
        padding: 20px 0;
        color: #eee;
        background-color: rgb(85,102,119);
        .left{
            padding: 7px 0;
        }
        .right{
            padding: 7px 0;
            @media (min-width:992px){
                text-align:right; 
            }
        }
        @media (min-width:768px){
            font-size: 12px; 
        }
    }
}