header{

    .top-nav{
        background-color: rgb(34,204,204);
        color: white; 
        border-radius: 0 !important;
        text-align: center;
        .border-right{
            border-right: 1px solid white;
        }
        a{
            color: white; 
            font-size: 3.5vw;
            text-transform: uppercase;
            padding: 0 2vw;
            .glyphicon{
                padding: 0 4px;
            }
            @media (min-width: 576px) {
                font-size: 2.5vw;
            }
            @media (min-width: 768px) {
                font-size: 18px;
            }
        }
        @media (min-width: 768px) {
            float: right;
            background-color: transparent;
            background-image: url("../images/bg-tosca.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
    .navbar{
        background-color: #e9ebed !important;
        border: 0!important;
        border-radius: 0!important;
        margin-bottom: 0!important;
        .navbar-brand{
            padding:10px 15px !important;
            img{
                max-height:30px;
                @media (min-width: 768px) {
                    max-height:55px;
                }
            }
        }
        .navbar-toggle{
            border: 0 !important;
            background-color: #aaa !important;
        }
        .navbar-collapse{
            // border-top: 2px solid #aaa  !important;
        }
        .navbar-nav{
            .active{
                >a{
                    background-color: transparent !important; 
                    color: #c13 !important;
                }
            }
            a:hover,a:focus{
                background-color: transparent !important;
                color: #c13 !important;
            }
            a{
                text-transform: uppercase;
            }
        }
        .navbar-left{
            @media (min-width:768px){
                max-width: 720px - 280px;
            }
            @media (min-width:992px){
                max-width: 940px - 280px;
            }
            @media (min-width:992px){
                max-width: 1140px - 280px;
            }
            .dropdown-menu{
                background-color: #e9ebed !important;
                border: 2px solid #e9ebed;
            }
        }
        .navbar-right{
            @media (min-width:768px){
                max-width: 280px;
            }
            li{
                padding: 10px 10px;
                @media (min-width:768px){
                    padding-right: 15px;
                }
            }
            a{display:inline; font-size:24px; padding:0 5px;}
            .btn{border-radius: 0;}
            .search{
                padding: 8px 14px; font-size: 14px;
                border: 1px solid white;
            }
            .calendar{
                padding: 8px 25px; font-size:14px; 
                background-color: #c13;
                border: 1px solid #c13;
                color:#e9ebed;
            }
        }

    }
    .bottom-left{
        position: absolute;
        bottom:0;
    }


}