body {
    font-family: 'Open Sans' !important;
}

section.home{
    @grey1: #aaa;
    @grey2: #ddd;
    @red: #c13;
    @gold: #ccbb44;
    @purple: #6644bb;
    @lightblue: #2cc;

    background-color: #e9ebed;
    .slider-top, .slider-bottom{
        .container-fluid{
            padding:0 !important;
            .container{
                @media (max-width:1366px){
                    width: 100% !important;
                    padding: 0;
                }
                .wrapper{
                    position: relative;
                    .bg{
                        width: 100%;
                    }
                    .text{
                        position:absolute;
                        transform: translate(-50%,-50%);
                        max-width: 40%;
                        top:30%; left:70%;
                    }
                }
            }
        }
    }
    .content{
        .all-events{
            padding: 15px 0;
            text-transform: uppercase;
            .title{
                text-align: center;
                margin: 30px 0;
                .calendar{
                    display: inline-block;
                    background-color: rgb(204,187,68);
                    color: white;
                    border-radius: 999px;
                    width: 40px;
                    height: 40px;
                    position: relative;
                    i{
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .dotted-line{
                        position: absolute;
                        top: 84%; left: 0%;
                        font-size: 18px;
                        width: 60px;
                        color: black;
                    }
                }
                .text{
                    display: inline-block;
                    top: 50%;
                    padding-left: 8px;
                    transform: translateY(-25%);
                    font-size: 27px;
                }
            }
            .wrapper{
                @wdh: 70px;
                height: 1.5*@wdh;
                margin: 0 auto;
                padding: 30px 0;
                .wrapper-date{
                    width: 30%;
                    height: @wdh;
                    position: relative;
                    float: left;
                    .circle{
                        width:@wdh; height: @wdh;
                        background-color: @gold;
                        border-radius: 999px;
                        position: absolute;                       
                        top: 50%; right: 5px;
                        transform: translateY(-50%);
                    }
                    .date{
                        width:@wdh;
                        position: absolute;                       
                        top: 48%; right: 5px;
                        transform: translateY(-50%);
                        text-align: center;
                        color: white;
                        @fs: 16px;
                        .dd{font-size: @fs}
                        .mm{font-size: 0.6*@fs}
                        .yyyy{font-size: 0.6*@fs}
                    }
                }
                .event-wrapper{
                    width: 70%;
                    max-width: 189px;
                    height: 81px;
                    float:left;
                    padding-left: 10px;
                    font-size: 12px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #ddd;
                    .event-text{
                        top: 50%;
                        position: relative;
                        transform: translateY(-50%);
                        max-width: 189px;
                    }
                }
            }
            .pagination{
                width: 250px !important;
                padding: 20px 0;
                display: block;
                margin: 0 auto;
                a{
                    font-size: 14px !important;
                    color: @grey1 !important;
                }
                .separator{
                    padding: 0 4px;
                }
            }
        }
        .upcoming-events{
            padding: 15px 0;
            text-transform: uppercase;
            .title{
                text-align: center;
                margin: 30px 0;
                .star{
                    display: inline-block;
                    background-color: #6644bb;
                    color: white;
                    border-radius: 999px;
                    width: 40px;
                    height: 40px;
                    position: relative;
                    i{
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .dotted-line{
                        position: absolute;
                        top: 84%; left: 0%;
                        font-size: 18px;
                        width: 60px;
                        color: black;
                    }
                }
                .text{
                    display: inline-block;
                    top: 50%;
                    padding-left: 8px;
                    font-size: 27px;
                    max-width: 162px;
                    @media(min-width:@min-sm-screen){
                        max-width: none;
                        transform: translateY(-25%);
                    }
                }
            }
            .wrapper{
                margin: 0 auto;
                padding: 10px;
                max-width: 550px;
                .top{
                    border-bottom: 1px solid @purple;
                    height: 36px;
                    max-width: 550px;
                    margin: 0 auto;
                    .date{
                        font-weight: 900;
                        color: @purple;
                        float:left;
                        font-size: 18px;
                    }
                    .view-detail a{
                        color: @grey1;
                        float:right;
                        font-size: 8px;
                        line-height:32px;
                        cursor: pointer;
                        &:hover{color: @red; text-decoration: none;}
                    }
                }
                .bottom{
                    text-align: center;
                    .img-container{
                        height: 160px;
                        max-width: 550px;
                        margin:0 auto;
                        padding: 25px 0;
                        img{
                            margin:0 auto; height:110px;
                            border-radius: 999px;
                        }
                    }
                    .title-container{
                        max-width: 550px;
                        margin:0 auto;
                        @media(min-width:@min-sm-screen){
                            height: 160px;
                            position: relative;
                        }
                        .title{
                            margin:0;
                            @media(min-width:@min-sm-screen){
                                position: absolute;
                                transform: translateY(-50%);
                                top:50%;
                                text-align: left;
                            }
                        }
                    }
                    .desc{
                        padding: 20px 0;
                        text-align: justify !important;
                        text-transform: none;
                        max-width: 550px;
                        margin:0 auto;
                        text-align: left;
                        @media(min-width:@min-sm-screen){
                            padding-top:0 !important;
                        }
                    }
                }
            }
        }
        .twitter-posts{
            padding: 15px 0 0 0;
            // padding-bottom: 15px;
            .title{
                text-align: center;
                margin: 30px 0;
                .twitter{
                    display: inline-block;
                    color: @lightblue;
                    width: 40px;
                    height: 40px;
                    position: relative;
                    font-size: 40px;
                    line-height: 40px;
                    top: -5px;
                }
                .text{
                    display: inline-block;
                    .username{font-size: 20px}
                    .follow{
                        text-align: left;
                        display: block;
                        margin-top: -10px;
                        transform: translateY(-5px);
                        font-size: 10px; color:@lightblue;
                    }
                }
            }
            .wrapper{
                max-width: 320px;
                border-top: 1px solid @grey2;
                margin: 0 auto;
                padding: 20px 0px;
                .img-container{
                    padding: 0;
                    padding-top:10px;
                    height: 70px;
                    margin:0 auto;
                    img{
                        background-color: #fff;
                        margin:0 auto; height:50px;
                        border-radius: 999px;
                    }
                }
                .post-container{
                    padding-right:0;
                    .top{
                        padding-bottom: 10px;
                        .username{color: @lightblue;}
                        .date{margin-left: 12px;}
                    }
                    .middle{}
                    .bottom{
                        padding: 10px 0;
                        i{margin-right: 10px; color: @grey1}
                    }
                }
            }
        }
    }
    .testi{
        margin-top: 100px;
        padding:0 !important;
        .container{
            position: relative;
            padding: 60px 0;
            background-color: #eee;
            @media (max-width:1366px){
                width: 100% !important;
                padding: 40px;
            }
            @media (max-width:540px){
                padding: 22px;
            }
            .quote{
                position: absolute;
                transform: translate(-50%,-50%);
                top:0; left:50%;
                width: 36px;
            }
        }
        p{max-width: 600px; margin:0 auto;}
    }

    .slick-slider{
        .slick-next{
            right:10px!important;
        }
        .slick-prev{
            left:10px!important; z-index: 1;
        }
    }
}